
    <a href="@Url.Action("GioHang", "GioHang")" style="color:white; font-weight:bold; text-decoration:none; display:flex; align-items:center;">
        <img src="~/Images/Slider/shopping_cart_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.jpg" alt="Cart" style="margin-right:8px; width:30px; height:auto;" />
        Cart (@ViewBag.TongSoLuong)
    </a>
