
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>XÁC NhẬN ĐƠN HANG</h2>
<h4> Đơn hàng của quý khách đã được tui ghi nhận,
    chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhât
    và giao hàng đúng hẹn</h4>
<p>
    @Html.ActionLink("BACH TO HOME","Index","SachOnline")
</p>

